.carousel_img {
  width: 100%;
  min-height: 100%;
  max-height: 441px;
  border-radius: 10px;
  img {
    width: 100%;
    min-height: 100%;
    max-height: 441px;
    object-fit: cover;
    border-radius: 10px;
  }
}
